<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/assest/style/anews_style.css">
    <link rel="stylesheet" href="./static/assest/style/mediaQuery_anews_style.css">
    <link rel="stylesheet" href="/static/assest/style/css_utlis.css">

    <link rel="shortcut icon" href="/static/assest/icon/favicon-32x32.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <title>Anews | Online News Portal Birgunj</title>
</head>

<body>
<div id="preloader"></div>
    <!-- Header -->
    <header class="header d-flex justify-between item-center">
        <section class="header-wrapper d-flex justify-between item-center">
            <a href="/"><img src="/static/assest/icon/anews_logo.png" class="header-logo"
                    alt="Anews Logo"></a>


            <div class="header-right d-flex justify-between item-center">
                {% if live == False %}
                <a href="" style="color: black;">
                    <div class="live d-flex justify-center item-center">
                    </div>
                </a>
                {% else %}
                <a target="_sachin" href="/live" style="color: black;">
                    <div class="live d-flex justify-center item-center">
                        <h4 class="live-status">Live</h4>
                        <span class="live-alert"></span>
                    </div>
                </a>
                {% endif %}
                <form class="header-search" id="search-form">
                    <input type="search" autocomplete="off" placeholder="Search" name="q" id="search">
                    <div class="searchResult" id="result">

                    </div>
                </form>
            </div>
        </section>
    </header>

    <!-- Slider Text -->
    <div class="news-slider">
        <h2 class="sliding-text">
            {{slidinNews['news'].replace(",", "
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ") | safe}}
        </h2>
    </div>

    <!-- Mobile Trigger -->
    <div class="mobile-trigger d-flex item-center ">
        <span class="material-symbols-outlined pointer" onclick="show_navBar()" id="nav-trigger">menu</span>
        <span class="material-symbols-outlined pointer" id="suggest-news-trigger"
            onclick="open_suggestNews('suggest-news-trigger')">chevron_left</span>
    </div>


    <!-- NavBar -->
    <nav class="nav-bar" id="navBar">
        <span class="material-symbols-outlined" style="display: none;" onclick="close_navBar()" id="mobile-nav-close">
            close
        </span>
        <section class="navbar-wrapper mx-auto">
            <ul class="nav-ul d-flex justify-center item-center">
                <li class="nav-li"><a href="/" class="nav-link d-flex item-center"><span
                            class="material-symbols-outlined">
                            house
                        </span></a></li>
                <li class="nav-li"><a href="#latestNews" class="nav-link d-flex item-center">ताजा खबर</a></li>
                {% for nav in cato %}
                <li class="nav-li"><a href="/categories?categories={{nav[0]}}"
                        class="nav-link d-flex item-center">{{nav[0]}}</a></li>
                {% endfor %}
            </ul>
        </section>
    </nav>

    <!-- News Container -->
    <section class="news-container ">
        <div class="news-wrapper mx-auto d-flex justify-center">

            <div class="main-news">
                {% for new in news[:5] %}
                <div class="news-card">
                    <a href="/post/{{new[0]}}">
                        <h1 class="news-title">
                            {{new[1]}}
                        </h1>
                        <img src="./static/uploads/post/{{new[4]}}" class="news-feature-img" alt="">
                    </a>
                    <div class="post-desc mx-auto d-flex item-center justify-between">
                        <h4 class="author-title">{{new[7]}} द्वारा पोस्ट</h4>
                        <h4 class="author-title">{{new[8]}}</h4>
                    </div>
                </div>

                {% endfor %}


            </div>

            <div class="divider""></div>

            <div class=" suggest-news" id="suggestNews">
                <h2 class="right-div-title">सुझाव (टिप्पणी)</h2>
                <div class="suggest-news-wrapper">
                    {% for cmtPost in asComment[:3] %}
                    <div class="suggest-news-card">
                        <a href="/post/{{cmtPost[0]}}">
                            <img src="{{ url_for('static', filename='uploads/post/' + cmtPost[4])}}" alt=""
                                class="suggestion-news-img">
                            <h2 class="suggest-card-tag">सुझाव</h2>
                            <h2 class="suggest-news-title">
                                {{cmtPost[1][:80]}}...
                            </h2>
                            <p class="suggest-news-para">
                                {{cmtPost[3][:150] | safe}}...
                            </p>
                            <a href="/post/{{cmtPost[0]}}" class="suggestion-news-read-more">थप जानकारी..</a>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </section>
    <!-- Floating Social Platfrom -->
    <div class="floating-social-platfrom">
        <div class="floating-facebok float-platform d-flex item-center">
            <a href="https://www.facebook.com/{{config['facebook']['PAGE_ID']}}"><img class="pointer"
                    src="{{ url_for('static', filename='./assest/icon/floating-facebook-icon.png')}}" alt=""></a>
            <div>
                <h4>{{social["facebook"]["total_fan"]}} Like</h4>
                <a target="_blank" href="https://www.facebook.com/{{config['facebook']['PAGE_ID']}}"
                    class="like-follow">Like & Follow</a>
            </div>
        </div>
        <div class="floating-youtube float-platform d-flex item-center">
            <a href="https://www.youtube.com/channel/{{config['google']['CHANNEL_ID']}}"><img class="pointer"
                    src="{{ url_for('static', filename='./assest/icon/floating-youtube-icon.png')}}" alt=""></a>
            <div>
                <h4>{{social["youtube"]["total_sub"]}} Suscriber</h4>
                <a target="_blank" href="https://www.youtube.com/channel/{{config['google']['CHANNEL_ID']}}"
                    class="like-follow">Like & Follow</a>
            </div>
        </div>
    </div>

    <!-- Promote Container -->
    <section class="promote">
        <h2 class="promote-title">
            Promotion...
        </h2>
        <div class="promote-wrapper mx-auto d-flex justify-center item-center">
            <div class="img-promote"><img
                    src="./static/ads/promotion/1/{{os.listdir("./static/ads/promotion/1/")[0]}}"
                    class="promote-img" alt=""/></div>
            <div class="img-promote"><img
                    src="static/ads/promotion/2/{{os.listdir("./static/ads/promotion/2/")[0]}}"
                    class="promote-img" alt=""></div>
            <div class="img-promote"><img
                    src="static/ads/promotion/3/{{os.listdir("./static/ads/promotion/3/")[0]}}"
                    class="promote-img" alt=""></div>
        </div>
    </section>

    <!--News Slider  -->
    <section class="cato-news">
        <div class="cato-wrapper mx-auto">
            <div class="cato-header">
                <a href="/categories?categories={{province[0][6]}}" class="btn">{{province[0][6]}}</a>
                <a href="/categories?categories={{province[0][6]}}" class="d-flex item-center"><img class="cato-btn-img"
                        src="{{ url_for('static', filename='./assest/icon/arrow-right-circle.svg')}}" alt=""></a>
            </div>
            <div class="cato-news-slider d-flex item-center">
                <div class="news-cato-list">
                    <ul class="news-list-ul">
                        {% for sub in subcato %}
                        <li class="news-list-li">
                            <a href="?subcato={{sub[0]}}" class="news-cato-link active web-safe">{{sub[0]}}</a>
                        </li>
                        {% endfor %}



                    </ul>
                </div>

                <div class="news-card-crousel">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper news-card-crousel-wrapper">
                            {% for ct in catlst[:config["NUMBER_OF_SILDER"]] %}
                            <div class="cato-card swiper-slide">
                                <a href="/post/{{ct[0]}}">
                                    <div class="cato-card-wrapper">
                                        <img src="./static/uploads/post/{{ct[4]}}" alt="" class="cato-card-img">
                                        <h2 class="cato-card-title">
                                            {{ct[1][:30]}}
                                        </h2>
                                        <p class="cato-card-para">
                                            {{ct[3][:140] | safe}}
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}


                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>

    <!-- News Container Style 1 Latest -->
    <section class="lower-news-container container-style1" id="latestNews">
        <div class="wrapper-news-container mx-auto">
            <div class="cato-header">
                <a href="#" class="btn">Latest News</a>
                <a href="#" class="d-flex item-center"><img class="cato-btn-img"
                        src="{{ url_for('static', filename='./assest/icon/arrow-right-circle.svg')}}" alt=""></a>
            </div>
            {% if len(latest) <=0 %} <div class="news-container-childnode d-flex" style="justify-content:center;">
                <div class="right-side-news-container">
                    <div class="flash-news-left">
                        {% if len(recent) <= 0 %} <a href="/post/">
                            <img src="{{ url_for('static', filename='assest/image/no_news.png')}}" alt=""
                                class="flash-news-img">
                            <h2 class="flash-news-title">

                            </h2>
                            <p class="flash-news-para"></p>
                            </a>
                            {% else %}
                            {% for rec in recent %}

                            <a href="/post/{{rec[0]}}">
                                <img src="{{ url_for('static', filename='uploads/post/' + rec[4])}}" alt=""
                                    class="flash-news-img">
                                <h2 class="flash-news-title">
                                    {{rec[1]}}
                                </h2>
                                <p class="flash-news-para">{{rec[3][:500]}}..</p>
                            </a>
                            {% endfor %}
                            {%endif%}
                    </div>
                </div>
                {% else %}
                <div class="news-container-childnode d-flex ">
                    <div class="right-side-news-container">
                        <div class="flash-news-left">
                            {% if len(recent) <= 0 %} <a href="/post/">
                                <img src="{{ url_for('static', filename='assest/image/no_news.png')}}" alt=""
                                    class="flash-news-img">
                                <h2 class="flash-news-title">

                                </h2>
                                <p class="flash-news-para"></p>
                                </a>
                                {% else %}
                                {% for rec in recent %}

                                <a href="/post/{{rec[0]}}">
                                    <img src="{{ url_for('static', filename='uploads/post/' + rec[4])}}" alt=""
                                        class="flash-news-img">
                                    <h2 class="flash-news-title">
                                        {{rec[1]}}
                                    </h2>
                                    <p class="flash-news-para">{{rec[3][:400]|safe}}..</p>
                                </a>
                                {% endfor %}
                                {%endif%}
                        </div>
                    </div>
                    <div class="divider-box">
                        <div class="division">
                        </div>
                    </div>
                    <div class="left-side-thumb-news">
                        <div class="right-thumb-news">
                            {% for lats in latest[:6] %}
                            <div class="thumb-news thumb-news1">
                                <a href="/post/{{lats[0]}}"><img
                                        src="{{ url_for('static', filename='uploads/post/' + lats[4])}}" alt=""
                                        class="thumb-news-img">
                                    <h2 class="thumb-news-title">
                                        {{lats[1]}}
                                    </h2>
                                </a>

                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
        </div>
        {%endif%}
        </div>
    </section>

    <!-- Youtube live Section -->
    <section class="youtube-live">
        <div class="youtube-live-wrapper d-flex item-center">
            <div class="right-youtube-iframe">
                <h2 class="head-title-youtube-live">YouTube Videos</h2>
                {% if live ==False %}
                <img src="{{ url_for('static', filename='./assest/image/no_news.png')}}" class="live-video" alt="">
                <h2 class="title-live-video">Stay informed, stay ahead - Watch our latest updates anytime, anywhere.
                </h2>
                {% else %}

                {{iframe(live[0]) | safe}}
                <h2 class="title-live-video">{{live[1]}}</h2>

                {% endif %}

            </div>
            <div class="left-youtube-video">
                {% for video in ytvideo[:4] %}
                <div class="youtube-thumb-video">
                    <a target="_sachin" href="{{video[" link"]}}">
                        <img src="{{video[" thumbnail"]}}" class="youtube-thumb-img" alt="">
                        <h2 class="youtube-thumb-title">{{video["title"][:80]}}</h2>
                    </a>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>

    <!-- Pending -->
    <!-- News Container Style 2-->
    {% for ct in cato[0:2] %}
    {% if style(ct[0]) == "style1"%}
    {% set recent = postByCato(ct[0])[::-1][0] %}
    <section class="lower-news-container container-style1" id="style1">
        <div class="wrapper-news-container mx-auto">
            <div class="cato-header">
                <a href="/categories?categories={{ct[0]}}" class="btn">{{ct[0]}}</a>
                <a href="/categories?categories={{ct[0]}}" class="d-flex item-center"><img class="cato-btn-img"
                        src="{{ url_for('static', filename='./assest/icon/arrow-right-circle.svg')}}" alt=""></a>
            </div>
            <div class="news-container-childnode d-flex ">
                <div class="right-side-news-container">
                    <div class="flash-news-left">
                        <a href="/post/{{recent[0]}}">
                            <img src="/static/uploads/post/{{recent[4]}}" alt="" class="flash-news-img">
                            <h2 class="flash-news-title">
                                {{recent[1][:50]}}
                            </h2>
                            <p class="flash-news-para">{{recent[3][:500] |safe}}</p>
                        </a>
                    </div>
                </div>
                <div class="divider-box">
                    <div class="division">
                    </div>
                </div>
                <div class="left-side-thumb-news">

                    <div class="right-thumb-news">
                        {% for thumbpost in postByCato(ct[0])[::-1][1:7] %}
                        <div class="thumb-news thumb-news1">
                            <a href="/post/{{thumbpost[0]}}"><img src="/static/uploads/post/{{thumbpost[4]}}" alt=""
                                    class="thumb-news-img">
                                <h2 class="thumb-news-title">
                                    {{thumbpost[1][:50]}}
                                </h2>
                            </a>

                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    {% set recents = postByCato(ct[0])[::-1][0] %}
    <!-- News Container Style 1-->
    <section class="lower-news-container container-style1" id="style2">
        <div class="wrapper-news-container mx-auto">
            <div class="cato-header">
                <a href="/categories?categories={{ct[0]}}" class="btn">{{ct[0]}}</a>
                <a href="/categories?categories={{ct[0]}}" class="d-flex item-center"><img class="cato-btn-img"
                        src="{{ url_for('static', filename='./assest/icon/arrow-right-circle.svg')}}" alt=""></a>
            </div>
            <div class="news-container-childnode d-flex ">
                <div class="right-side-news-container">
                    <div class="flash-news-left">
                        <a href="/post/{{recents[0]}}">
                            <img src="/static/uploads/post/{{recents[4]}}" alt="" class="flash-news-img">
                            <h2 class="flash-news-title">
                                {{recents[1][:50]}}
                            </h2>
                            <p class="flash-news-para">{{recents[3][:500] |safe}}</p>
                        </a>
                    </div>
                </div>
                <div class="divider-box">
                    <div class="division">
                    </div>
                </div>
                <div class="left-side-thumb-news">
                    <div class="right-thumb-news-style">
                        {% for thumbpost in postByCato(ct[0])[::-1][1:5] %}
                        <div class="thumb-news-style thumb-news1">
                            <a href="/post/{{thumbpost[0]}}"><img src="/static/uploads/post/{{thumbpost[4]}}" alt=""
                                    class="style-thumb-news-img">
                                <div class="style-thumb-news-containet">
                                    <h2 class="style-thumb-news-title">
                                        {{thumbpost[1][:50]}}
                                    </h2>
                                    <p class="style-thumb-news-para">
                                        {{thumbpost[2][:80]}}
                                    </p>
                                </div>
                            </a>

                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}


    {% endfor %}
    <!-- End here -->

    <!-- Feature img -->
    <section class="feature-img mx-auto">
        <div class="cato-header">
            <a href="#" class="btn">Feature Photos</a>
            <a href="#" class="d-flex item-center"><img class="cato-btn-img"
                    src="{{ url_for('static', filename='./assest/icon/arrow-right-circle.svg')}}" alt=""></a>
        </div>
        <div class="wrapper-grid">
            <div class="feature-img-wrapper">
                {% for fpic in ft %}
                <div class="feature-pic feature-pic1"><img
                        src="{{ url_for('static', filename='/uploads/feature/' + fpic[4])}}" alt="" class="feat-img">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Footer-->
    <section class="footer">
        <div class="footer-wrapper mx-auto">
            <div class="footer-logo d-flex item-center">
                <img src="/static/assest/icon/anews_logo.png" alt="Footer Anews Logo"
                    class="footer-img">
                <h1 class="footer-img-text">A News</h1>
            </div>
            <div class="footer-grid-box ">
                <div class="footer-box footer-box1 d-flex justify-between ">
                    <div class="fotter-box1-inside">
                        <h2 class="footer-text">
                            {{footerDesc['desc']}}
                        </h2>
                        
                    </div>
                    <div class="social-icon">
                        <a href="{{config['instagramLink']}}" class="socail-platform-icon"><img
                                src="/static/assest/icon/instagram.png" alt=""></a>
                        <a href="{{config['twitterLink']}}" class="socail-platform-icon"><img
                                src="/static/assest/icon/twitter.png" alt=""></a>
                        <a href="{{config['youtubeLink']}}" class="socail-platform-icon"><img
                                src="/static/assest/icon/youtube.png" alt=""></a>
                    </div>
                </div>
                <div class="footer-box footer-box3">
                    <h2 class="footer-box-text">विज्ञापनको लागि सम्पर्क गर्नुहोस्</h2>
                    <div class="footer-box-wrapper">
                        <div class="footer-link d-flex item-center"><a>{{footerDesc['ads']}}</a></div>
                        
                    </div>
                </div>
                <div class="footer-box footer-box2">
                    <h2 class="footer-box-text">समाचार</h2>
                    <div class="footer-box-wrapper">
                        <span style="display: none;">{{random.shuffle(cato) }}</span>
                    
                        {% for links in cato[:6] %}
                            <div class="footer-link d-flex item-center"><span class="white-dot"></span> <a href="/categories?categories={{links[0]}}">{{links[0]}}</a></div>
                            {% endfor %}
                    </div>
                </div>
                
                <div class="footer-box footer-box4" style="display: none;">
                    <h2 class="footer-box-text">Lifestyle News</h2>
                    <h2 class="footer-box-text">Art</h2>
                    <h2 class="footer-box-text">Diet</h2>
                    <h2 class="footer-box-text">Health & Fitness</h2>
                    <h2 class="footer-box-text">Technology</h2>
                    <h2 class="footer-box-text">People</h2>

                </div>
            </div>
            <h2 class="footer-copyright">All right reserved to anews | Copyright 2023 | <a href="#">Desgin by Caspr
                    Digital</a> | <a href="/developer">About Developer</a></h2>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />
    <script src="{{ url_for('static', filename='./assest/script/script.js')}}"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 500
            },
            breakpoints: {
                320: {
                    slidesPerView: 3,
                    spaceBetween: 15
                },
                480: {
                    slidesPerView: 2,
                    spaceBetween: 15
                },
                640: {
                    slidesPerView: 4,
                    spaceBetween: 20
                }
            }
        });

        const searchForm = document.getElementById("search-form");
        const resultDiv = document.getElementById("result");
        searchForm.addEventListener("submit", function (event) {
            event.preventDefault();
            console.log("okk")
            resultDiv.innerHTML = ""
            const keywordInput = searchForm.querySelector('input[name="q"]');
            // create a new XMLHttpRequest object
            const xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const data = JSON.parse(xhr.responseText);
                    for (let i = 0; i < data.length; i++) {
                        const post = data[i];
                        const a = document.createElement('a');
                        a.href = '/post/' + post.postid;
                        const h4 = document.createElement('h4');
                        h4.innerText = post.title.substring(0, 40);
                        h4.classList.add('seacrchlist')
                        a.appendChild(h4);
                        resultDiv.appendChild(a);
                    }
                }
            };
            xhr.open("POST", "/search");
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send("q=" + keywordInput.value);
        });
        const loader = document.getElementById('preloader');
window.addEventListener('load', function(){
    loader.style.display = "none"
})
    </script>
</body>



</html>